<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/main.css"/>
    <title>About Me</title>
</head>
<body>

<div class="nav">
    <ul>
        <li class="home"><a href="/">Test</a></li>
        <li class="about"><a href="/about">About</a></li>
        <li class="interests"><a href="/interests">Interests</a></li>
        <li class="school"><a href="/school">School</a></li>
        <li class="contact"><a href="/contact">Contact</a></li>
    </ul>
</div>

</body>
</html>