<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Dealership</title>
    <link rel="stylesheet" href="css/main.css"/>
    <script src="js/test.js" type="text/javascript"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div class="nav">
        <ul>
            <li class="home"><a href="/index">Home</a></li>
            <li class="inventory"><a href="/inventory">Inventory</a></li>
            <li class="financing"><a href="/financing">Financing</a></li>
            <li class="service"><a href="/service">Service</a></li>
            <li class="about"><a href="/about">About</a></li>
        </ul>
    </div>
</body>
</html>