<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Personal Website</title>
    <link rel="stylesheet" href="css/main.css"/>
    <script src="js/test.js" type="text/javascript"></script>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div class="nav">
        <ul>
            <li class="home"><a href="/">Home</a></li>
            <li class="about"><a href="/about">About</a></li>
            <li class="interests"><a href="/interests">Interests</a></li>
            <li class="school"><a href="/school">School</a></li>
            <li class="contact"><a href="/contact">Contact</a></li>
        </ul>
    </div>
</body>
</html>